[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/ghuiber/minimal.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/ghuiber/ghostwriter.git
