[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/ghuiber/minimal.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/ghuiber/ghostwriter.git
[submodule "themes/hugo-tea"]
	path = themes/hugo-tea
	url = https://github.com/ghuiber/hugo-tea.git
[submodule "themes/hugo-theme-yue"]
	path = themes/hugo-theme-yue
	url = https://github.com/ghuiber/hugo-theme-yue.git
